.DS_Store
Thumbs.db
*.swp
*~
.idea/                # JetBrains IDEs
.vscode/              # VS Code settings
.ipynb_checkpoints/

__pycache__/
*.py[cod]
*$py.class
*.so                  # compiled extensions
*.pyd


venv/
*/venv/

build/
dist/
.eggs/
*.egg-info/


.pytest_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/


docs/_build/

src/**/data/orders*.csv
labsuser.pem

*.log
*.tmp*.pem
*.DS_Store
